<div class="row">
    <div class="col-3">
        <div class="p-3" [ngClass]="div1ClassName()">
            Div 1 - {{div1ClassName()}}
        </div>
    </div>
    <div class="col-3">
        <div class="p-3" [ngStyle]="{'background-color': isDiv2Green == true ? 'green': 'red'}">
            Div 2
        </div>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <button class="btn btn-success" (click)="setBgClass('bg-success')">Green</button>
        <button class="btn btn-danger" (click)="setBgClass('bg-danger')">Red</button>
    </div>
    <div class="col-3">
        <button class="btn btn-success" (click)="toggleDiv2color()">Toggle</button>
    </div>
</div>

<div class="row">
    <div class="col-3">
        firstName => {{firstname}}
        <br>
        {{firstname | uppercase}}
    </div>
    <div class="col-3">
        courseName => {{courseName}}
        <br>
        {{courseName | lowercase}}
    </div>
    <div class="col-3">
        titleName => {{titleName}}
        <br>
        {{titleName | titlecase}}
    </div>
</div>
<div class="row">
    <div class="col-3">
        rollNoLisi => {{rollNoList}}
        <br>
        {{rollNoList | slice:0:3}}
    </div>
    <div class="col-3">
        studentObj => {{studentObj}}
        <br>
        {{studentObj | json}}
    </div>
    <div class="col-3">
        currentDate => {{currentDate}}
        <br>
        {{currentDate | date}}
    </div>
</div>